<div class="page-header">
	<h2>See all your upcoming and past plans</h2>
</div>
<div class="row">
	<div class=col-lg-12 col-sm-12 id=result >
			<form role="form" id="update_form_id" action="/updatePlan" name="update_form" method="POST" class="form-horizontal">
				<table id="resultTable" class="table table-striped table-bordered table-dark">
				<thead>
					<tr>
					<th hidden="true"></th>
						<th>Source Address</th>
						<th>Destination Address</th>
						<th>Date (YYYY-MM-DD)</th>
						<th>Time (24 hour format)</th>
						<th>Number of people</th>
						<th>Co-passengers</th>
						<th>Vacancy</th>
						<th>Actions</th>
					</tr>
				</thead>
				</table>
			</form>
	</div>
</div>

{{#if fareEstimates}}
	<div class="row">
		<h4>Fare estimates for your ride from {{source}} to {{destination}}</h4>
		{{#each fareEstimates.estimates}}
			<div class="col-lg-6 col-sm-6">
				<h4>{{name}}</h4>
				<div class="col-lg-6 col-sm-6" id="estimate" >
					<table id="estimateTable" class="table table-striped table-bordered table-dark">
						<tr>
							<th>Cab Type</th>
							<th>Fare Estimates</th>
						</tr>
						{{#each types}}
							<tr>
								<th>{{typeName}}</th>
								<th>{{typeCost}}</th>
							</tr>
						{{/each}}
					</table>
				</div>
			</div>
		{{/each}}
	</div>
{{/if}}

<script>
$(document).ready(function() {

	$.ajax({
			type : "GET",
			url: "/get_plans",
			async: true,
			success: function(json_data){
				if ($.trim(json_data)){
					//$('#resultTable tbody> tr').remove();
					var len = json_data.length;

					for(var i=0; i<len; i++){
						item = json_data[i];
						var passengers = "";
						for(var j = 0; j < item.participants.length; j++){
							if(j==0)
								passengers = item.participants[j].email;
							else
								passengers = passengers + "," + item.participants[j].email;
						}
						var date_str = item.date.split("T");
						var tr_str = "<tr>" +
						"<td align='center' hidden='true'>" + item._id + "</td>" +
						"<td align='center'>" + item.source_id + "</td>" +
						"<td align='center'>" + item.destination_id + "</td>" +
						"<td align='center'>" + date_str[0] + "</td>" +
						"<td align='center'>" + item.time + "</td>" +
						"<td align='center'>" + item.no_of_people + "</td>" +
						"<td align='center'>" + passengers + "</td>" +
						"<td align='center'>" + item.vacancy + "</td>" +
						"<td><table><tr><td><button type='submit' class='btn btn-primary' onClick='setAction(this)' form='update_form_id' id='update_"+item._id+"' name='update'>Update</button></td>"+
						"<td><button type='submit' class='btn btn-primary' onClick='setAction(this)' form='update_form_id' id='delete_"+item._id+"' name='delete'>Delete</button></td></td></tr>"+
						"<tr><button type='submit' class='btn btn-primary' onClick='setAction(this)' form='update_form_id' id='estimate_"+item._id+"' name='estimate'>Get Fare Estimates</button></tr></table></td>" +
						"</tr>";
						
						$("#resultTable").append(tr_str);
					}
					$('#resultTable').DataTable({
					order: [[ 1, 'asc' ]]
				});
				}
		}
		,
			error: function (request, status, error) {
				alert(request.responseText);
				console.log(request.responseText);
			}
	});

});

function setAction(submitButton){
	submitButton.value = submitButton.id.split("_")[1];
}
</script>
